IO_LOC  "gpio_button" 57;
IO_PORT "gpio_button" IO_TYPE=LVCMOS18 PULL_MODE=DOWN;

IO_LOC  "gpio_slide_switch" 69;
IO_PORT "gpio_slide_switch" IO_TYPE=LVCMOS18 PULL_MODE=DOWN;

IO_LOC  "btn1_n" 3;
IO_PORT "btn1_n" IO_TYPE=LVCMOS18 PULL_MODE=UP;

IO_LOC  "btn2_n" 4;
IO_PORT "btn2_n" IO_TYPE=LVCMOS18 PULL_MODE=UP;

IO_LOC  "led[0]" 10;
IO_PORT "led[0]" DRIVE=8 IO_TYPE=LVCMOS18;

IO_LOC  "led[1]" 11;
IO_PORT "led[1]" DRIVE=8 IO_TYPE=LVCMOS18;

IO_LOC  "led[2]" 13;
IO_PORT "led[2]" DRIVE=8 IO_TYPE=LVCMOS18;

IO_LOC  "led[3]" 14;
IO_PORT "led[3]" DRIVE=8 IO_TYPE=LVCMOS18;

IO_LOC  "led[4]" 15;
IO_PORT "led[4]" DRIVE=8 IO_TYPE=LVCMOS18;

IO_LOC  "led[5]" 16;
IO_PORT "led[5]" DRIVE=8 IO_TYPE=LVCMOS18;

IO_LOC  "clk" 52;
IO_PORT "clk" IO_TYPE=LVCMOS33 PULL_MODE=UP;
